.container {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  
  .card {
    width: 100%;
    max-width: 100vw;
  }
  
  .card-header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  .loginimg{
    height: 87px;
  }